@{
    ViewBag.Title = "GioiThieu_64130531";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông Tin Sinh Viên</h2>
MÃ SINH VIÊN: 64130531
<br />
LỚP : 64CNTT3
<br />
Họ TÊN: PHẠM ĐỨC HẢI
<br />
NGÀY KIỂM TRA: 25/11/2024