
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <ul>
        <li><a href="~/SinhVien_64130531/Index1">UseFormCollection</a></li>
        <li><a href="~/SinhVien_64130531/Index2">UseRequest</a></li>
        <li><a href="~/SinhVien_64130531/Index3">UseAction</a></li>
        <li><a href="~/SinhVien_64130531/Index4">UseModel</a></li>
    </ul>
</div>

