
@{
    ViewBag.Title = "Register1";

}

<h2>THÔNG TIN SINH VIÊN ĐÃ ĐĂNG KÍ</h2>
Mã sinh viên: @ViewBag.Id
<br />
Họ tên: @ViewBag.Name
<br />
Điểm: @ViewBag.Marks
<a href="~/SinhVien_64130531/Index1" class="text-decoration-none">Quay lại</a>